<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./index.js"></script>
  <title>Document</title>
</head>
<body>
  <div id='app'>
    <input id='1' v-model='text'/>
    <span>asdas {{ text }} {{text}}asd asd<span>{{text}}</span> </span>
    asd {{ text }}
    <br />
    <input v-model='name' />
    asd {{ name }}
  </div>
  <script>
    new MVVM({
      el: "#app",
      data: {
        name: 'cjg',
        text: '1231',
      },
    });
  </script>
</body>
</html>